{% extends 'base.html.twig' %}

{% block title %}Home - {{ parent() }} {% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div>
    <h2>Postagens</h2>

    <ul>
        {% for post in posts %}
            <li>
                <h3>{{ post.title }}</h3>
                <p>{{ post.body }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}